Source: mp4h
Section: web
Priority: optional
Maintainer: Denis Barbier <barbier@debian.org>
Standards-Version: 3.5.0
Build-Depends: debhelper, tidy

Package: mp4h
Architecture: any
Depends: ${shlibs:Depends}
Description: Macro Processor for HTML Documents
 Mp4h is a macro processor specifically designed for HTML documents,
 with powerful programming features. It allows definition and expansion
 of new tags with a syntax familiar to HTML authors.
 .
 Mp4h is a core component of the Website Meta Language (WML).
