#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DH_COMPAT=2

CFLAGS := -O2 -Wall
ifneq "$(findstring debug,$(DEB_BUILD_OPTIONS))" ""
CFLAGS += -g
endif

build: build-stamp
build-stamp: config.status
	dh_testdir
	$(MAKE)
	touch build-stamp

config.status libltdl/config.status: configure
	CFLAGS="$(CFLAGS)" ./configure --prefix=/usr \
          --mandir='$${prefix}/share/man' --with-tidy=/usr/bin/tidy

clean:
	dh_testdir
	dh_testroot
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean build-stamp

install: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) install \
            prefix=$(CURDIR)/debian/mp4h/usr \
            INSTPREFIX=$(CURDIR)/debian/mp4h

binary: binary-arch binary-indep

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs README CREDITS doc/mp4h.html
	dh_installchangelogs ChangeLog
ifeq "$(findstring nostrip,$(DEB_BUILD_OPTIONS))" ""
	dh_strip
endif
	dh_compress
	dh_fixperms
	dh_shlibdeps
	dh_gencontrol
	dh_installdeb
	dh_md5sums
	dh_builddeb

binary-indep:

.PHONY: build clean binary-indep binary-arch binary
